@model IEnumerable<CityWeather>

@{
    string GetCssClassByFahrenheit(int TemperatureFahrenheit)
    {
        return TemperatureFahrenheit switch
        {
            (< 44) => "blue-back",
            (>= 44) and (< 75) => "green-back",
            (>= 75) => "orange-back"
        };
    }
}
<div class="margin-top-200 margin-left">
    <div class="flex">
        @foreach(var item in Model)
        {
            <div class="box cursor-pointer w-30 @GetCssClassByFahrenheit(item.TemperatureFahrenheit)">
                <div class="flex-borderless">
                    <div class="w-50">
                        <h2>@item.CityName</h2>
                        <h4 class="text-dark-grey">@item.DateAndTime.ToString("hh:mm tt")</h4>
                        <a href="~/weather/@item.CityUniqueCode" class="margin-top">Details</a>
                    </div>
                    <div class="w-50 border-left">
                        <h1 class="margin-left">@item.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
                    </div>
                </div>

            </div>
        }
</div>
</div>