
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@inject IVehicleService vehicleServiceInView

<h1>@ViewBag.id1</h1>
<h2>@ViewBag.id2</h2>
<h3>@ViewBag.idFromNewScope</h3>
<h3>@vehicleServiceInView.GetWheelCount()</h3>
